body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
} 

#colorSwapperCanvas {
    width: 99vw;
    height: 99vh;
    border: 1px solid #000;
    cursor: crosshair;
    image-rendering: pixelated;
}
